.container {
  max-width: 600px;
  margin: 3vw auto;
}

.container header {
  margin-bottom: calc(var(--unit) * 10);
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: space-between;
}

.container header time {
  color: rgba(var(--dim) / 25%);
  font-size: 14px;
}

.container section > p {
  margin: 1em 0;
  font-family: var(--fontSerif);
}

.container section {
  margin-bottom: calc(var(--unit) * 6);
}

.container section h2 {
  margin-bottom: 1.5em;
}

.work ul {
  margin: 1.5em 0;
  display: grid;
  gap: 1em;
}

.work ul li {
  display: grid;
}

section a {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: rgba(var(--dim) / 10%);
  text-underline-position: under;
  transition: text-decoration-color 100ms;
}

section a:hover {
  text-decoration-color: rgba(var(--dim) / 40%);
}

.work p {
  font-family: var(--fontSerif);
}

.contact ul li {
  display: grid;
  grid-template-columns: clamp(8em, 20vw, 9em) 1fr;
}

.contact ul li div:first-of-type {
  color: rgba(var(--dim) / 60%);
}
